<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/main">Main <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/member/list">사용자</a></li>
    </ul>
</div>